<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>customer__item</title>
    <link rel="stylesheet" href="customers.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="cutomers__item">
        <h1 class="customer__name">Maria</h1>
        <p class="customer__comment">
          Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit
          iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla
          scelerisque scelerisq...
        </p>
        <div class="commant__info">
          <span
            ><img
              src="../../images/icons/calendar.svg"
              alt=""
            />06/02/2022</span
          >
          <span><img src="../../images/icons/clock.svg" alt="" />11:15</span>
          <span><img src="../../images/icons/watch.svg" alt="" />222</span>
        </div>
      </div>
    </div>
  </body>
</html>
