<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>news__item</title>
    <link rel="stylesheet" href="news.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="news__item">
        <img src="../../images/news/news__item.png" alt="" />
        <h1 class="item__name">tips for prepping and caring for your grill</h1>
        <p class="item__info">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat
          mattis ipsum turpis elit elit scelerisque egestas mus in.
        </p>
        <button class="read__more">Read More</button>
        <div class="date">16 Apr 2021</div>
      </div>
    </div>
  </body>
</html>
