<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>menu item</title>
    <link rel="stylesheet" href="menu__item.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="menu__item">
        <img class="menu__img" src="../../images/menu/burger.svg" alt="" />
        <h1 class="food__name">Barbecue Shish kebab Shashlik Skewer</h1>
        <p class="food__price">$12.00</p>
      </div>
    </div>
  </body>
</html>
